html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Basic Layout */
body{
    background: url(images/background-pattern.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Sans 3', sans-serif;
}

.content{
    margin-top: 35px;
    width: 472px;
    padding: 20px 0;
    background-color: #ededed;
    border-radius: 5px;
}

.oldagram-header{
    display: flex;
    gap: 250px;
    justify-content: center;
    height: 80px;
    padding: 0px 15px;
    border-bottom: 2px solid #C6C6C6;
}

.post-creator{
    display: flex;
    padding: 10px 10px 0px;
    gap: 5px;
    align-items: center;
}

.post-bottom{
    padding: 10px;
}

/* Text stylering */
.bold-text{
    font-weight: bold;
}

.location{
    margin-top: 0;
    padding: 0;
    display:block;
}

/* imagery */

.logo{
    display: inline-block;
    margin-bottom: 20px;
    width: 160px;
}

.profile-img,
.creator-img{
    width: 50px;
    height: 50px;
    border-radius: 360px;
}

.like-btn,
.comment-btn,
.share-btn{
    width: 40px;
    margin-right: 4px;
}

.github-logo{
    width: 80px;
}