html, body {
    margin: 0;
    padding: 0;
}

body{
    background: url(images/background-pattern.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 472px;
    padding: 20px 0;
    background-color: #ededed;

}

.github-logo{
    width: 80px;
}