html, body {
    margin: 0;
    padding: 0;
}

/* Basic Layout */
body{
    background: url(images/background-pattern.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    margin-top: 35px;
    width: 472px;
    padding: 20px 0;
    background-color: #ededed;
    border-radius: 5px;
}

.oldagram-header{
    display: flex;
    gap: 250px;
    justify-content: center;
    height: 80px;
    padding: 0px 20px;
    border-bottom: 2px solid #C6C6C6;
}



/* imagery */

.logo{
    display: inline-block;
    margin-bottom: 20px;
    height: 60px;
}

.profile-img,
.creator-img{
    width: 50px;
    height: 50px;
    border-radius: 360px;
}


.github-logo{
    width: 80px;
}